{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

    <div class="form-center">

        <div class="form-registration">

            <h1 class="title" style="text-align: center">Cadastro</h1>

                <form method="post" novalidate>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-block" type="submit">Cadastrar</button>
                    </div>
                </form>
                <br>
                <p class="text-bottom">Ou, caso já tenha uma conta, <a href="{% url 'assets_auth:login' %}">logue aqui</a></p>

        </div>
    </div>

{% endblock %}